@import '../../components/responsive/responsive.scss';

.wrapper {
}

.content-container {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.product-show-container {
}

.subsidebar-container {
    overflow: auto;
    position: sticky;
    top: 20px;
    max-height: 100vh;
    transition: top 0.3s ease;
    scrollbar-width: none;
}

.content {
    padding: 20px 10px;
    .title {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--text-secondary-color);
    }

    .sort-option-list {
        display: flex;
        list-style-type: none;
        // margin-top: 20px;

        li {
            a {
                padding: 10px 10px;
                color: var(--text-secondary-color);
                text-decoration: none;
                font-size: 1.4rem;

                &:hover {
                    border-bottom: 2px solid var(--primary-color);
                    cursor: pointer;
                    color: var(--primary-color);
                }

                &.active {
                    border-bottom: 2px solid var(--primary-color);
                    color: var(--primary-color);
                }
            }
        }
    }

    .filter-icon {
        border-radius: 4px;
        color: var(--text-secondary-color);
        margin-left: auto;
        padding: 6px;
        &:hover {
            cursor: pointer;
            background-color: var(--primary-hover-color);
        }
    }

    .pagination-container {
        display: flex;
        justify-content: right;
        margin-top: 10px;
    }
}

.recent-viewed-product {
    .title {
        padding: 20px;
        font-size: 2rem;
        font-weight: 600;
    }
}

.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-hover-color);
}

@keyframes leftIn {
    from {
        opacity: 0;
        transform: translateX(-140px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@include respond-to(tablet) {
  .subsidebar-container {
    position: fixed;
    background-color: white;
    z-index: 101;
    top: 137px;
    overflow-y: scroll;
    max-height: 90%;
    width: 30%;
     animation: leftIn ease 0.49s;
  }

   .overlay {
        animation: fadeIn ease 0.49s;
    }

    .divider {
        margin-top: 0px;
    }
}

@include respond-to(mobile) {
  .subsidebar-container {
    position: fixed;
    background-color: white;
    z-index: 101;
    top: 137px;
    overflow-y: scroll;
    max-height: 90%;
    width: 40%;
     animation: leftIn ease 0.49s;
  }

   .overlay {
        animation: fadeIn ease 0.49s;
    }

    .divider {
        margin-top: 0px;
    }
}