.cate-container{
    width: 100%;
    max-height: fit-content;
    display: block;
    position: relative;
    .cate-list{
        height: fit-content;
        border-radius: 0.5rem 0 0 0.5rem;
        width: 100%;
        .item{
            padding: 5px 10px 10px 10px;
            border-radius: 0.5rem;
            cursor: pointer;
            border-bottom: 0;
            border-width: 0 0 1px;
            display: block;
            background-color: #fff;
            .tilte {
                padding: 5px 0px 0px 10px !important;
            }
            a{
                display: flex;
                color: black;
                outline: none;
                box-shadow: none;
                position: relative;
                text-decoration: none;
                align-items: center;
                justify-content: space-between;
                padding: 5px 0 2px 0;
                span{
                    .left-icon {
                        margin-right: 24px; // Thêm khoảng cách phải
                    }
                }
                .right-icon{
                    font-size: 12px;
                }
            }
        }
    }
}