.wrapper {
    padding: 20px 110px;
    background-color: white;
    .logo-container {
        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
        }
    }

    .logo {
        width: 100%;
    
    }


}