@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --text-color: #000000;
    --text-secondary-color: #666666;
    --text-third-color: #808089;
    --text-fourth-color: #23486c;
    --primary-color: #2659f3;
    --secondary-color: #0d5cb6;
    --third-color: #338dbc;
    --topbar-bg: #fdd835;
    --topbar-color: #000000;
    --header-background: #ffffff;
    --header-color: #17479d;
    --label-background: #ff910d;
    --label-color: #ffffff;
    --primary-boxShadow-color: #2659f32e;
    --primary-hover-color: #2659f317;
    --price-color: #fa0303;
    --primary-backround-color: #efefef;
    --breadcrumb-backround-color: #dbe8ff;
    --red-light-a: #ffe0e2;
    --border-color: rgba(23, 23, 23, 0.14);

    --label-admin:#007aff;
    --background-admin: linear-gradient(90deg, #09bce4 0%, #2659f3 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

// .poppins-light {
//     font-family: "Poppins", sans-serif;
//     font-weight: 300;
//     font-style: normal;
//   }

//   .poppins-regular {
//     font-family: "Poppins", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//   }

//   .poppins-medium {
//     font-family: "Poppins", sans-serif;
//     font-weight: 500;
//     font-style: normal;
//   }

//   .poppins-semibold {
//     font-family: "Poppins", sans-serif;
//     font-weight: 600;
//     font-style: normal;
//   }

//   .poppins-bold {
//     font-family: "Poppins", sans-serif;
//     font-weight: 700;
//     font-style: normal;
//   }

//   .poppins-light-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 300;
//     font-style: italic;
//   }


.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.d-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.d-flex-space-around {
    display: flex;
    justify-content: space-around;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.d-flex-al-center {
    display: flex;
    align-items: center;
}

.d-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* grids */
.grid {
    min-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.grid-col-0_5 {
    width: 4.17%;
}

.grid-col-1 {
    width: 8.33%;
}

.grid-col-1_5 {
    width: 12.5%;
}

.grid-col-2 {
    width: 16.66%;
}

.grid-col-2_4 {
    width: 20%;
}

.grid-col-3 {
    width: 25%;
}

.grid-col-3_5 {
    width: 29.17%;
}

.grid-col-3_6 {
    width: 30%;
}

.grid-col-4 {
    width: 33.33%;
}

.grid-col-5 {
    width: 41.67%;
}

.grid-col-6 {
    width: 50%;
}

.grid-col-7 {
    width: 58.33%;
}

.grid-col-8 {
    width: 66.67%;
}

.grid-col-9 {
    width: 75%;
}

.grid-col-9_6 {
    width: 80%;
}

.grid-col-10 {
    width: 83.33%;
}

.grid-col-11 {
    width: 91.67%;
}

.grid-col-12 {
    width: 100%;
}
/* end grids */

/* btns*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-secondary-color);
    padding: 7px;
    border-radius: 4px;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        opacity: 0.3;
    }
}

.btn-opposite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-secondary-color);
    opacity: 0.3;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.btn-primary {
    background-color: var(--header-color);
    color: var(--label-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-btn {
    color: var(--text-secondary-color);
    border: 1px solid var(--text-secondary-color);
    background-color: white;
}

.confirm-btn {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* end btns*/

/* scroll bar*/
.custom-scroll {
    overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
/* end scroll bar*/

.divider {
    border: 1px solid var(--primary-boxShadow-color);
}

.container {
    padding-top: 80px;
    background-color: var(--primary-backround-color);
}

.main-container {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.content {
    width: 100%;
}

// .container-2 {
//     padding-top: 80px;
//     background-color: var(--primary-backround-color);

// }

.uppercase-text {
    text-transform: uppercase;
}

.p-20 {
    padding: 20px;
}

.p-0-80 {
    padding: 0 80px;
}

.mb-10 {
    margin-bottom: 10px;
}

.note {
    color: var(--primary-color);
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
}

.w-fit {
    width: fit-content;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;

    th {
        border-bottom: 1px solid #ddd;
    }

    td.center {
        text-align: center;
    }

    td {
        padding: 4px;
        img {
            width: 100%;
        }
    }

    tbody tr:nth-child(even) {
        background-color: #dddddd;
    }
}

.custom-table.fixed-layout {
    table-layout: fixed;
}

.fake-a {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        filter: brightness(1.5);
    }
}
