.label_sidebar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  input[type="checkbox"] {
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .choose {
    display: inline-block;
    vertical-align: middle;
  }
}
