@import 'src/assets/responsive/breakpoints.scss';
.home-container {
display: flex;
  flex-direction: column;
  width: 82%;
  overflow-x: hidden;
  .banner-top-container, .section-product-itemsCategory {
    height: fit-content;
    margin-left: 2rem;
    margin-bottom: 24px;
    //padding-left: 20px;
    //padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background: #fff;
    //padding-bottom: 16px;
    @include respond-max(lg) {
      margin-left: 0rem;
    }
  }
  .banner-top-swiper {
    max-width: 100%;
    padding: 2rem 1rem;
    overflow: hidden;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      .banner-img {
        border-radius: 12px;
        object-fit: cover;
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        img {
          object-fit: contain;
          width: 100%;
        }
      }

    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #333;
      width: 30px;
      height: 30px;
      background-color: var(--primary-backround-color);
      border-radius: 50%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      background-color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transform: translateY(-1px);
    }

    .swiper-button-prev {
      left: 1rem;
    }

    .swiper-button-next {
      right: 1rem;
    }

    .swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 1.5rem;
      font-weight: 900;
    }
    .swiper-pagination {
      text-align: center;
      height: 2rem;
      .swiper-pagination-bullet {
        width: 24px;
        height: 2px;
        border-radius: 10px;
        background-color: var(--primary-backround-color);
        margin: 0 4px;
        opacity: 1;
        transition: background-color 0.3s;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--primary-color);
      }
    }
  }

  .hotProducts-homePage-container {
    height: fit-content;
    margin-left: 2rem;
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background: #fff;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .hotProducts-homePage-container {
    display: flex;
    justify-content: space-between;
    //padding: 16px 0;
    gap: 12px;
    flex-wrap: wrap;

    .hot-products {
      text-align: center;

      a {
        text-decoration: none;
        color: #000;

        .hot-item-container {
          width: 64px;
          height: 64px;
          margin: 0 auto;
          border-radius: 12px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;


          img.hot-item-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .hot-item-title {
          margin-top: 8px;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          white-space: normal;
          line-height: 1.4;
          max-width: 150px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .section-product-itemsCategory {
    padding-bottom: 1.5rem;
 .banner-item {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   object-fit: cover;
   width: 100%;
   height: auto;
   margin-bottom: 1rem;
   .banner-item-img {
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     object-fit: contain;
     width: 100%;
   }
 }

    .title-product-container {
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
      .title-item {
        line-height: 1.2;
        a {
          font-weight: 600;
          font-size: 1.5rem;
          text-decoration: none;
          cursor: pointer;
          color: #d41f01;
        }

      }
      .item-cate-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .item-cate {
          padding-top: .25rem;
          padding-bottom: .25rem;
          padding-right: 1rem;
          padding-left: 1rem;
          font-size: 1.2rem;
          color: #000000;
          background: #fff;
          border-color: #d41f01;
          border: 1px solid #a2a2a2;
          font-weight: 400;
          border-radius: 25px;
          cursor: pointer;
          &:hover {
            border: 1px solid #d41f01;
            color: #d41f01;
            transition: all .2s;
            font-weight: 500
          }
      }
        .cate-1 {
          color: #d41f01 !important;
          border-color: #d41f01 !important;
          font-weight: 500;
        }
      }
    }

    .btn_wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      .toggle_btn {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        background-color: #d41f01;
        color: white;
        padding: 8px 20px;
        border-radius: 4px;
        cursor: pointer;
        line-height: 1;
        transition: all 0.3s ease;
        svg {
          font-size: 18px;
          vertical-align: middle;
        }
        &:hover {
          background-color: #ef2b08;
          color: white;
        }
      }
    }
  }
}
//responsive
@include respond-max(lg) {
  .home-container {
    width: 100%;
  }
 .hotProducts-homePage-container {
   display: grid !important;
   grid-template-columns: repeat(4, 1fr) !important;
   margin-left: 0rem !important;
  }
}

@include respond-max(md) {
  .item-cate-list {
    display: none !important;
  }
  .banner-img {
    width: 100%;
  }
}
