.wrapper {
    ul {
        display: flex;
        list-style: none;
        padding: 15px 20px;
        margin: 0;
        font-size: 1.4rem;
        background-color: var(--breadcrumb-backround-color);

        li {
            margin-right: 8px;

            &::after {
                content: '/';
                margin-left: 8px;
            }

            &:last-child::after {
                content: '';
            }

            a {
                color: var(--text-secondary-color);
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                }
            }

            &.active span {
                color:  #bbb;
            }
        }
    }
}