.container-footer .brand-swiper {
  padding: 2rem 1rem;
}
.container-footer .brand-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer .brand-swiper .swiper-slide img {
  height: 5rem;
  object-fit: contain;
  max-width: 100%;
}
.container-footer .brand-swiper .swiper-button-prev,
.container-footer .brand-swiper .swiper-button-next {
  color: #333;
  width: 30px;
  height: 30px;
  background-color: var(--primary-backround-color);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer .brand-swiper .swiper-button-prev:hover,
.container-footer .brand-swiper .swiper-button-next:hover {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.container-footer .brand-swiper .swiper-button-prev {
  left: 1rem;
}
.container-footer .brand-swiper .swiper-button-next {
  right: 1rem;
}
.container-footer .brand-swiper .swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}
.container-footer .brand-swiper .swiper-button-prev::after,
.container-footer .brand-swiper .swiper-button-next::after {
  font-size: 1.5rem;
  font-weight: 900;
}
.container-footer .middle-footer-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #ebebf0;
  border-bottom: 1px solid #ebebf0;
  margin-left: 4rem;
  margin-right: 4rem;
}
.container-footer .middle-footer-wrapper .payment-med-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .payment-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-fourth-color);
  margin-bottom: 1.5rem;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .form-res .contact-form .input-group {
  display: flex;
  max-width: 320px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .form-res .contact-form .input-group .form-control {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 14px;
  border-radius: 0;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .form-res .contact-form .input-group .form-control::placeholder {
  color: #999;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .form-res .contact-form .input-group .form-control:focus {
  outline: none;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .form-res .contact-form .input-group .sub-action {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0;
}
.container-footer .middle-footer-wrapper .payment-med-wrap .mail-register .form-res .contact-form .input-group .sub-action:hover {
  background-color: #0040aa;
}
.container-footer .payment-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-fourth-color);
  margin-bottom: 1.5rem;
}
.container-footer .payment-med-pic {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.container-footer .payment-med-pic img {
  width: 40px;
  height: auto;
  transition: transform 0.3s;
}
.container-footer .payment-med-pic img:hover {
  transform: scale(1.05);
}
.container-footer .sitemap-footer .custom-footer {
  font-size: 14px;
  color: #808089;
  line-height: 1.6;
}
.container-footer .sitemap-footer .custom-footer .footer-section {
  background-color: #ffffff;
  padding: 2rem 1rem;
}
.container-footer .sitemap-footer .custom-footer .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  margin: 3rem 2rem;
}
.container-footer .sitemap-footer .custom-footer .footer-col {
  flex: 1;
  max-width: 25%;
}
.container-footer .sitemap-footer .custom-footer .footer-logo {
  margin-bottom: 1rem;
}
.container-footer .sitemap-footer .custom-footer .footer-logo img {
  max-width: 100%;
  height: auto;
}
.container-footer .sitemap-footer .custom-footer .footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #17479d;
}
.container-footer .sitemap-footer .custom-footer .company-info {
  font-size: 1.5rem;
}
.container-footer .sitemap-footer .custom-footer .company-info strong {
  color: #000;
}
.container-footer .sitemap-footer .custom-footer p {
  margin: 0 0 0.5rem;
}
.container-footer .sitemap-footer .custom-footer strong {
  font-weight: bold;
  color: var(--header-color);
}
.container-footer .sitemap-footer .custom-footer .footer-bottom {
  text-align: center;
  padding: 1rem;
  background-color: #e8efff;
  color: #3b71ca;
}

/*# sourceMappingURL=Footer.css.map */
