@import 'src/assets/responsive/breakpoints.scss';
.homepage-layout-container {
  padding-top: 95px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--primary-backround-color);
  display: flex;
  @include respond-max(lg) {
    width: 100%
  }
  @include respond-max(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.sidebar-layout {
  //display: block;
  @include respond-max(lg) {
    display: none !important;

  }
}
@media (max-width: 344px) {
  .homepage-layout-container {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}