$typography: (
        "font-styles": (

        ),
"title": (
font-weight: 700,
),
        "subtitle": (

        ),
        "paragraph": (

        ),
        "label": (

        ),
        "text-button": (

        ),
        "text": (

        ),
        "placeholder_color": (
                font-weight: 400,
                font-size: 1rem,
        ),
        "label-header": (
                font-weight: bold,
        ),
)