.description_container {
  align-items: center;
  gap: 10px;
  flex-direction: column;
  display: flex;
  h2 {
    margin-bottom: 0px;
    align-self: flex-start;
  }
  .warp_descript {
    width: 95%;
    h4 {
      margin: 15px 0px;
      text-align: left;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .name_p {
      gap: 15px;
      align-items: center;
      flex-direction: row;
      display: flex;
    }
    .improvement_p{
      margin-bottom: 10px;
    }
  }
  .characteristic_p, .improvement_p {
    span {
      display: block;
      margin-bottom: 10px;
    }
  }  }
