@import 'src/assets/responsive/breakpoints.scss';
.product-detail-layout-container {
  padding-top: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--primary-backround-color);
  display: flex;
  @include respond-max(lg) {
    width: 100%;
  }
  @include respond-max(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
//@media (min-width: 540px) and (max-width: 912px) {
//  .product-detail-layout-container {
//    padding-top: 95px;
//  }
//}